$white: #ffffff;
$black: #000000;
$brown: #5d4839;
$light-brown: #baa391;

@import 'header';
@import "product";
@import 'footer';
@import 'swiper';
@import 'catalog';

body {
  position: relative;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  @media (max-width: 767px) {
    &.active-nav {
      overflow: hidden;
    }
  }
}

button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  background-color: transparent;
  font: inherit;
  color: inherit;
  text-align: inherit;
  line-height: normal;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: none;
  cursor: pointer;
}

a {
  color: $white;
}

.section-title {
  position: relative;
  width: 100%;
  height: 36px;
  background: $black;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  margin-top: -18px;
  z-index: 201;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
  @media (max-width: 767px) {
    font-size: 10px;
    height: 13px;
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .soon {
    .section-title {
      margin-left: -15px;
    }
  }
}

.btn {
  height: 50px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.1s;
  text-transform: uppercase;
  text-decoration: none;
  box-sizing: border-box;
  @media (hover: hover) {
    &:hover {
      background-color: #fff !important;
      color: #000 !important;
    }
  }
  @media (max-width: 767px) {
    font-size: 10px;
  }
}
